/* Navbar */
.mobile-container {
  padding-bottom: 14px;
}

#navbar .logo {
  float: none;
  text-align: center;
}

#navbar ul,
#navbar ul li {
  float: none;
}

#navbar ul li a {
  padding: 5px;
  border-bottom: #444 solid 1px;
}


/* Showcase */
#showcase {
  height: 100%;
}

/* Home Info */
#home-info {
  height: 500px;
}

#showcase .showcase-content {
  padding: 70px 0 30px 0;

}

#home-info .info-img {
  display: none;
}


#home-info .info-content {
  float: none;
  width: 100%;

}

/* Boxes */
.box {
  float: none;
  width: 100%;
}

/* About */
#about-info .info-right,
#about-info .info-left {
  float: none;
  width: 100%;
}

#about-info .info-right {
  margin-top: 30px;
}

.info-left p {
  text-align: center;
}

.l-heading {
  text-align: center;
}

/* Contact */
#contact-info .box {
  border-bottom: #444 solid 1px;
  padding: 33px 0 20px 0;
}